$icon-font-path: '../fonts/';
@import "iconfont";
$grid-gutter-width: 0px;
// bower:scss
// Core variables and mixins
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/print";

// Core CSS
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid";

// Utility classes
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/utilities";

// endbower
* {
    @include box-sizing(content-box);
}

*:before,
*:after {
    @include box-sizing(content-box);
}

body {
    @include gradient-vertical(#b5e1ff, #fff);
}

.container {
    width: 1024px !important;
    padding: 0;
}

h1.title {
    background-color: #c2def3;
    text-align: center;
    line-height: 57px;
    font-size: 34px;
    color: #001e51;
    margin: 0;
}

.nav {
    text-align: center;
    .container {
        line-height: 64px;
        background-color: #0054a6;
        ul {
            margin-bottom: 0;
            > li {
                *display: inline;
                > a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}

.banner {
    .container {
        position: relative;
        background: url(../images/j01.jpg) no-repeat center top;
        height: 423px;
        .logo {
            position: absolute;
            top: 22px;
            left: 50px;
        }
        .address-and-date {
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            text-align: center;
            color: #025b95;
            address {
                margin-bottom: 0;
                font-size: 23px;
            }
            .date {
                font-size: 18px;
            }
        }
    }
}

.intro {
    .container {
        background: #fff url(../images/j02.jpg) no-repeat left center;
        padding: 60px 0;
        .table {
            margin-bottom: 0;
        }
        .title {
            width: 330px;
            text-align: center;
            vertical-align: middle;
        }
        p {
            text-align: justify;
            padding-right: 100px;
        }
    }
}

.org {
    .container {
        background-color: #fff;
        padding-bottom: 50px;
        .patch {
            padding: 0 50px;
        }
        h1.title {
            margin-bottom: 30px;
        }
        .row {
            .col-xs-12 {
                color: #001e51;
                font-size: 20px;
                line-height: 50px;
                .iconfont {}
                .patch {}
            }
            .col-xs-6 {
                line-height: 40px;
                .patch {}
            }
        }
    }
}

.schedule {
    .container {
        background: #89c0e2 url(../images/p04.png) center center;
    }
    .row {
        background: url(../images/p03.png) no-repeat 41.667% 0px;
        padding-top: 35px;
        padding-bottom: 10px;
        color: #fff;
        .col-xs-5 {
            text-align: right;
            line-height: 2;
            .patch {
                padding-right: 20px;
            }
        }
        .col-xs-7 {
            line-height: 2;
            .patch {
                padding-left: 20px;
            }
        }
    }
}

.guest {
    .guest-list {
        padding: 50px 100px;
        text-align: center;
        > li {
            a {
                color: #4e4e4e;
                font-size: 12px;
                margin-bottom: 30px;
                display: block;
                text-decoration: none;
                &:hover {
                    color: darken(#4e4e4e, 20%);
                }
                img {
                    margin-bottom: 20px;
                }
                p {
                    margin-top: 0;
                    margin-bottom: 10px;
                    text-align: center;
                    line-height: 1.5;
                }
            }
        }
    }
}

.info {
    .info-wrap {
        padding: 50px 100px;
        background: #91c2e2;
        color: #fff;
        font-size: 16px;
        img {
            width: 100%;
            display: block;
            margin-bottom: 20px;
        }
    }
}

.partner {
    .patch {
        padding: 50px 80px;
        font-size: 20px;
        color: #001e51;
        background-color: #fff;
        .iconfont {
            color: #001e51;
        }
        .list-inline {
            margin-top: 10px;
        }
    }
}

.support-media {
    .patch {
        padding: 50px 100px;
        background: #91c2e2;
        img {
            width: 100%;
            display: block;
        }
    }
}

.history {
    .patch {
        padding: 50px 100px;
    }
    #history-slick {
        .slick-list {
            img {
                margin: 0 auto;
                margin-bottom: 20px;
            }
            p {
                text-align: center;
                margin: 0;
                line-height: 2;
                font-size: 12px;
            }
            a {
                color: #4e4e4e;
                text-decoration: none;
                &:hover {
                    color: darken(#4e4e4e, 20%);
                }
            }
        }
        .slick-prev,
        .slick-next {
            margin-top: -30px;
            width: 30px;
            height: 60px;
            &:before {
                content: '';
            }
        }
        .slick-prev {
            background: url(../images/p05.png) no-repeat center center;
        }
        .slick-next {
            background: url(../images/p06.png) no-repeat center center;
        }
    }
}

.contactus {
    margin-bottom: 100px;
    .patch {
        padding: 50px 100px;
        background: #91c2e2;
        color: #415766;
    }
}
